.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 276px;
    background: url('https://fondosmil.com/fondo/17208.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

body{
    padding-top: 10%;
    padding-left: 30%;
}

